*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #E5F1FE;
    font-family: Nunito, sans-serif;
}

.contain{
    background-color: white;
    width: 500px;
    margin: 100px auto;
    padding: 70px 50px;
    border-radius: 20px;
}

.hdr-end{
    float: right;
}

.text{
    margin-bottom: 20px;
    text-align: center;
}

.text-hdr{
    margin-top: 40px;
}

.text-hdr h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.text p{
    font-size: 13px;
    color: #9BA3B3;
}

.formul{
    color: #9BA3B3;
}

.input-bar{
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

input{
    border: none;
    margin-left: 5px;
    width: 100%;
    outline: none;
    color: #9BA3B3;
}

.lab{
    margin: 15px 0 5px;
    display: flex;
    justify-content: space-between;
}

.lab a{
    color: #9BA3B3;
    font-size: 14px;
}

.btn{
    margin: 15px 0;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-blue{
    background-color: #3AB9FD;
}

.btn-blue:hover{
    background-color: #31a6e6;
}

.btn-blue a{
    color: white;
}

.option{
    text-align: center;
    position: relative;
    color: #9BA3B3;
}

.option:before {
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background: #f3f3f3;
    position: absolute;
    top: calc(50% - 1px);
}

.option span {
    display: inline-block;
    padding: 0 20px;
    background: white;
    position: relative;
    z-index: 1;
}

.btn-light{
    background-color: #D8F3FE;
}

.btn-light a{
    color: #3AB9FD;
}

.btn-light:hover{
    background-color: #cee6f0;
}

.text-ft{
    margin: 30px 0;
}

.text-ft p{
    padding-top: 20px;
    font-size: 15px;
}

.text-ft a{
    color: #9BA3B3;
}