*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contain{
    width: 1500px;
    margin: 20px auto;
}

.bord{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.right{
    display: inline-flex;
    align-items: center;
}

.right p{
    margin-right: 15px;
}

.btn{
    padding: 5px 15px;
    border-radius: 5px;
}

.btn-white{
    border: 1px solid #f3f3f3;
    color: black;
    font-weight: bold;
}

.btn-white:hover{
    background-color: #f3f3f3;
}

.section-content{
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.part1{
    margin: 0 0 25px 0;
}

h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn{
    margin: 15px 0;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-blue{
    background-color: #1472D9;
}

.btn-blue:hover{
    background-color: #31a6e6;
}

.btn-blue a{
    color: white;
}

.option{
    text-align: center;
    position: relative;
}

.option:before {
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background: #9BA3B3;
    position: absolute;
    top: calc(50% - 1px);
}

.option span {
    display: inline-block;
    padding: 0 10px;
    background: white;
    position: relative;
    z-index: 1;
}

.part2{
    margin: 25px 0;
}

.register{
    margin: 30px 0;
}

.formul{
    color: #9BA3B3;
}

.form-1 label{
    display: flex;
    justify-content: start;
}

.input-bar{
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

input{
    border: none;
    margin-left: 5px;
    width: 100%;
    outline: none;
}

.lab{
    margin: 15px 0 5px;
    display: flex;
    justify-content: space-between;
}

.lab a{
    color: #1472D9;
    font-size: 14px;
}

.btn-green{
    background-color: #0DB052;
}

.btn-green a{
    color: white;
}

.btn-green:hover{
    background-color: #0ea34c;
}

footer{
    border-top: 1px solid #f3f3f3;
}

.foot-right{
    list-style-type: none;
    display: inline-flex;
}

.foot-right li{
    margin-left: 15px;
}

.foot-right a{
    color: #1472D9;
}